.text-1{

    font-size: 11px;
    color: red;
}
.text-2{

    font-size: 13px;
    color:rgb(27, 221, 27);
}
.text-3{

    font-size: 14px;
    color:royalblue;
}
.text-4{

    font-size: 15px;
    color:rgb(195, 16, 231);
}
.text-5{

    font-size: 15px;
    color:rgb(123, 182, 28);
}